<launch>
  <param name="urg_node/frame_id" value="plate_top_link" />
  <arg name="configuration_basename" value="turtlebot_urg_lidar_2d.lua" />

  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory
              $(find cartographer_turtlebot)/configuration_files
          -configuration_basename $(arg configuration_basename)">
    <remap from="points2" to="/camera/depth/points" />
  </node>

  <node name="flat_world_imu_node" pkg="cartographer_turtlebot"
      type="cartographer_flat_world_imu_node" >
    <remap from="imu_in" to="/mobile_base/sensors/imu_data_raw" />
    <remap from="imu_out" to="/imu" />
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" >
      <remap from="/map" to="/pmap" />
	</node>
  
  <node name="urg_node" pkg="urg_node" type="urg_node" >
   <param name="angle_min" value="-1.6"/>
    <param name="angle_max" value="1.6"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.110 0 0.02478 0 0 0 1 base_link laser 50" />

  <!-- joystick -->
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="joy_node/dev" value="/dev/input/js0"/>
  </node>
  <include file="$(find turtlebot_teleop)/launch/xbox360_teleop.launch"/>
</launch>