<launch>
  <arg name="map_file" value="$(find inria_demo)/launch/map.yaml" />

   <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
  
  <node name="tf_lookup" pkg="tf_lookup" type="tf_lookup_node" />
  <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" />
  <node name="dock_client" pkg="inria_demo" type="autodock_client.py" />

  <include file="$(find inria_demo)/launch/include/docking_minimal.launch" />
  <include file="$(find inria_demo)/launch/web.launch" />


  <include file="$(find adaptive_local_planner)/launch/includes/move_base.launch.xml" />

  <include file = "$(find inria_demo)/launch/include/amcl_demo.launch" >
    <arg name="map_file" value="$(arg map_file)" />
  </include>

  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find adaptive_local_planner)/rviz/robot_navigation.rviz"/-->
</launch>
