<launch>
<include file="$(find rplidar_demo)/launch/rplidar_minimal.launch" />
 <node pkg="gmapping" type="slam_gmapping" name="gmapping_node" >

    <param name="maxUrange" value="16"/>
    <param name="delta" value="0.05"/>
    <param name="xmin" value="-1.0"/>
    <param name="ymin" value="-1.0"/>
    <param name="xmax" value="1.0"/>
    <param name="ymax" value="1.0"/>
    <param name="map_update_interval" value="2.0"/>
    <param name="temporalUpdate" value="2.0"/>
  </node>
</launch>